EXPO_PUBLIC_SEQUENCE_PROJECT_ACCESS_KEY=
EXPO_PUBLIC_SEQUENCE_WAAS_CONFIG_KEY=

EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=

EXPO_PUBLIC_AVALANCHE_RPC_URL=https://api.avax-test.network/ext/bc/C/rpc

EXPO_PUBLIC_OPENAI_API_KEY=
